@font-face {
  font-family: afante;
  src: url(Afante.otf);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

body {
  background: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-family: afante;
}

#product {
  display: flex;
  flex-direction: column;
  height: clamp(100px, calc(6vh + 25em), 900px);
  width: clamp(100px, calc(6vw + 13.42em), 700px);
  font-size: clamp(10px, calc(4vw + 0.32em), 20px);
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  opacity: 0;
}

#product-details {
  margin: 20px;
}

#product-type {
  margin-bottom: 7px;
  letter-spacing: 3px;
  font-size: clamp(14px, calc(4vw + 0.3em), 20px);
  font-weight: 100;
  text-transform: uppercase;
  color: grey;
}

#product-name {
  font-size: clamp(16px, calc(4vw + 0.8em), 32px);
  font-weight: 500;
  font-style: italic;
}

#product-description {
  margin-top: 10px;
  font-size: clamp(14px, calc(4vw + 0.3em), 20px);
  color: grey;
}

#product-image {
  width: 100vw;
  height: 30vh;
  background-image: url("images/image-product-mobile.jpg");
  background-size: cover;
}

#product-price {
  display: inline-flex;
  padding-top: 10px;
  color: hsl(158, 36%, 37%);
}

#product-price p {
  padding: 10px;
}

#product-price p:nth-child(1) {
  font-size: clamp(18px, calc(4vw + 1rem), 40px);
}

#product-price p:nth-child(2) {
  font-size: 0.9em;
  text-decoration: line-through;
  color: grey;
}

#add-to-cart {
  display: flex;
  justify-content: center;
  margin-top: 0.6em;
}

#add-to-cart button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: clamp(3vh, 3em, 300px);
  background-color: hsl(158, 36%, 37%);
  border-style: none;
  border-radius: 10px;
  color: #fff;
  transition: 0.2s ease-in-out;
}

#add-to-cart button:hover {
  background-color: rgb(1, 83, 1);
}

#add-to-cart img {
  height: 35%;
  margin-right: 5px;
}

@media only screen and (min-width: 700px) {
  #product {
    display: flex;
    flex-direction: row;
    width: 75vw;
  }
  #product-details {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: auto;
  }
  #product-image {
    width: 48vw;
    height: 100vh;
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
    background-position: center;
  }
  #product-type {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: clamp(0.1em, calc(3vw + 0.1em), 1.5em);
  }
  #product-name {
    font-size: clamp(0.1em, calc(5vw + 0.3em), 2.4em);
  }
  #product-description {
    margin-top: 0.9em;
    font-size: clamp(0.1em, calc(2vw + 0.2em), 1.5em);
  }
  #product-price p:nth-child(1) {
    margin-top: clamp(1em, calc(3vw + 0.1em), 4em);
    font-size: clamp(0.1em, calc(3vw + 1em), 3em);
  }
  #product-price p:nth-child(2) {
    margin-top: clamp(1em, calc(2vw + 0.4em), 3em);
    font-size: clamp(1em, calc(2vw + 0.3em), 2.9em);
  }
}

.attribution {
  font-size: clamp(0.4em, calc(1.5vw + 0.4em), 24px);
}
